<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name ="Movies"
			connectionString = "
			
			 Data Source=(localdb)\MSSQLLocalDB;
			 Initial Catalog=C:\USERS\ASUS\DESKTOP\АКАДЕМИЯ ТОП\01_УЧЕБА\09_ADO.NET\ADO.NET\LOCAL_DB\MOVIES_PV_522.MDF;;
			 Integrated Security=True;
			 Connect Timeout=3;
			 Encrypt=False;
			 TrustServerCertificate=False;
			 ApplicationIntent=ReadWrite;
			 MultiSubnetFailover=False
			 " 
			 />
			

	</connectionStrings>
</configuration>